.ComicCard {
    width: 700px;
    height: 300px;
    padding: 25px;
    display: flex;
    justify-content: flex-start ;
    background-color: rgba(0, 0, 0, 0.8);
}

.comicCover {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 250px;
    border: 1px solid white;
    margin-right: 50px;
}


.comicInfo {
    color: #FFE454;
}